<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<!--PC Configuration-->
		<add name="ConString" connectionString="Data Source=AHMED-PC;Initial Catalog=SchoolManagementSystem;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>

		<!--Laptop Configuration-->
		<!--<add name="ConString" connectionString="Data Source=DESKTOP-NSLK2NS;Initial Catalog=SchoolManagementSystem;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<sessionState mode="InProc" cookieless="false" timeout="500"/>
	</system.web>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>